apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system
resources:
  - ../base
namePrefix: staging-
nameSuffix: ""
patches:
  - path: values-patch.yaml
    target:
      kind: HelmRelease
      name: task-manager