apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: task-manager
spec:
  releaseName: task-manager-production
  targetNamespace: production
  values:
    app:
      replicaCount: 2
      image:
        pullPolicy: IfNotPresent
      resources:
        requests:
          cpu: 200m
          memory: 512Mi
        limits:
          cpu: 1000m
          memory: 1Gi
      ingress:
        hosts:
          - host: task-manager-production.127.0.0.1.sslip.io
            paths:
              - path: /
                pathType: Prefix
      autoscaling:
        enabled: true
        minReplicas: 2
        maxReplicas: 5
        targetCPUUtilizationPercentage: 70
        targetMemoryUtilizationPercentage: 80

    postgresql:
      instances: 3
      persistence:
        size: 10Gi
      resources:
        requests:
          cpu: 500m
          memory: 1Gi
        limits:
          cpu: 2000m
          memory: 2Gi

    dragonfly:
      replicas: 2
      resources:
        requests:
          cpu: 250m
          memory: 512Mi
        limits:
          cpu: 1000m
          memory: 1Gi

    namespace:
      name: production